* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  scroll-behavior: smooth;
  list-style-type: none;
  color: #343f52;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --light-green: #e1f6f0;
  --light-blue: #e9eaf8;
  --light-purple: #f8e7ec;
  --light-peach: #fef3e4;
}
.mr {
  margin: 0 85.5px;
}

.block {
  background-image: url(hero-bg.png);
}
/* navbar  */
.navbar {
  padding: 10px 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1240px; */
  margin: 0 auto;
}

.logo {
  font-size: 2.3em;
  font-weight: bolder;
  color: var(--primary-text-color);
  font-family: "Tektur", sans-serif;
  text-decoration: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-menu ul li:hover {
  background: rgba(117, 117, 117, 0.099);
  transition: 0.5s;
}

.info {
  display: flex;
  align-items: center;
}

.info a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Tektur", sans-serif;
  color: var(--primary-color);
}

.info a i {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.info a:hover {
  background: rgba(117, 117, 117, 0.099);
  transition: 0.5s;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-hero h2 {
  font-size: 3.7rem;
}
.left-hero h3 {
  font-size: 1.7rem;
}

.colored-txt {
  color: #0062ff;
}

.download-options {
  display: flex;
  gap: 10px;
}

.appstore {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.85rem;
}

.content p {
  color: white;
}
.content .content-txt {
  font-size: 1.4rem;
  color: white;
}

.appstore i {
  font-size: 2.5rem;
  color: white;
}

.playstore {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.85rem;
}

.playstore i {
  font-size: 2.5rem;
  color: white;
}

.right-hero {
  height: 100vh;
  display: flex;
  align-items: end;
}

.right-hero img {
  width: 550px;
}

.app-feat-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px 0;
}

.app-feat-heading {
  text-align: center;
  color: #60697b;
  font-weight: bolder;
  font-size: 0.7rem;
}

.app-feat-content {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 40px;
}

.app-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-features .boxes:nth-child(1) .feat {
  background-color: var(--light-peach);
}

.app-features .boxes:nth-child(2) .feat {
  background-color: var(--light-green);
}
.app-features .boxes:nth-child(3) .feat {
  background-color: var(--light-blue);
}
.app-features .boxes:nth-child(4) .feat {
  background-color: var(--light-purple);
}
.app-features .boxes:nth-child(5) .feat {
  background-color: var(--light-blue);
}
.app-features .boxes:nth-child(6) .feat {
  background-color: var(--light-peach);
}
.app-features .boxes:nth-child(7) .feat {
  background-color: var(--light-purple);
}
.app-features .boxes:nth-child(8) .feat {
  background-color: var(--light-green);
}

.boxes {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.boxes i {
  font-size: 2.5rem;
}
.feat {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* how it works/ process section  */
.app-process-section {
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 90px 0;
}

.app-process-heading {
  text-align: center;
  color: #60697b;
  font-weight: bolder;
  font-size: 0.7rem;
}

.app-process-content {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 40px;
}

.app-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.process-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process-box {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.process-box h3 {
  font-size: 1.4rem;
}
.process-box p {
  font-size: 1.1rem;
  text-align: center;
}

.process-content h2 {
  color: #0062ff;
  font-size: 4rem;
}

/* video container  */
.process-reel {
  width: 100%;
  height: 600px; /* Set this to the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-reel iframe {
  width: 100%;
  height: 100%;
  max-width: 1200px; /* Set a maximum width for the video */
  max-height: 600px; /* Set a maximum height for the video */
  border: none; /* Remove iframe border if any */
  position: relative;
  top: 30%;
}

/* faq section  */
.faq-section {
  background-image: url(hero-bg.png);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 280px 0;
}

.faq-heading {
  text-align: center;
  color: #60697b;
  font-weight: bolder;
  font-size: 0.7rem;
}

.faq-content {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 40px;
}

.faq-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;
}

.faq-box {
  width: 450px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* why choose section  */
.details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 60px 0;
}

.details-heading {
  text-align: center;
  color: #60697b;
  font-size: 0.7rem;
}

.detail-content {
  text-align: center;
  font-size: 2.2rem;
  padding-bottom: 40px;
}

.detail-container {
  display: flex;
  justify-content: center;
}

.detail-box {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: max-content;
  width: 600px;
  padding: 20px;
}

.detail-right-container .detail-box:nth-child(1) .detail-icon {
  background-color: var(--light-blue);
}
.detail-right-container .detail-box:nth-child(2) .detail-icon {
  background-color: var(--light-green);
}
.detail-right-container .detail-box:nth-child(3) .detail-icon {
  background-color: var(--light-purple);
}
.detail-right-container .detail-box:nth-child(4) .detail-icon {
  background-color: var(--light-peach);
}
.detail-right-container .detail-box:nth-child(5) .detail-icon {
  background-color: var(--light-blue);
}
.detail-right-container .detail-box:nth-child(6) .detail-icon {
  background-color: var(--light-green);
}

.detail-icon {
  background-color: #0062ff;
  width: 90px;
  height: 90px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.detail-info {
  width: 320px;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.detail-info h3 {
  padding-bottom: 5px;
}

/* review section  */
.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-heading {
  text-align: center;
  color: #60697b;
  font-size: 0.7rem;
}
.review-content {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 40px;
  color: #343f52;
}

.review-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.review-box-container div:nth-child(1) {
  background-color: var(--light-blue);
}
.review-box-container > div:nth-child(2) {
  background-color: var(--light-green);
}
.review-box-container > div:nth-child(3) {
  background-color: var(--light-purple);
}
.review-box-container > div:nth-child(4) {
  background-color: var(--light-purple);
}
.review-box-container div:nth-child(5) {
  background-color: var(--light-peach);
}
.review-box-container > div:nth-child(6) {
  background-color: var(--light-green);
}

.review-box {
  width: 400px;
  height: max-content;
  background-color: aliceblue;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

.review-box h3 {
  padding-top: 10px;
}

.review-box p {
  color: #60697b;
}

/* feature-section  */
.feature-section {
  padding: 80px 0 0 0;
}
.feature-bg {
  background-image: url(hero-bg.png);
}

.feature-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-feature {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.left-feature h2 {
  font-size: 3rem;
}

.left-feature h3 {
  font-size: 1.8rem;
}
.right-feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* footer */

.footer-list {
  display: flex;
  padding: 50px 0;
}

.footer-menu {
  width: 100%;
}

.footer-menu ul {
  padding: 10px 0 25px 0;
}

.footer-menu ul li {
  line-height: 1.7rem;
}

.footer-menu .social-logo {
  display: flex;
  gap: 10px;
}

.footer-input {
  display: flex;
}

.footer-input p {
  padding: 12px 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
  border: 2px solid #c3c3c3;
}

.footer-input .btn {
  background-color: #605dba;
  color: white;
  padding: 12px 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.1rem;
  border: none;
}
